<div class="sidebar">
  <% tags.each do |tag| %>
    <% unless tag.posts.count == 0 %>
      <%= link_to tag.name, posts_path(tag_id: tag.id) %>
      <%= "(#{tag.posts.count})" %>
    <% end %>
  <% end %>
</div>