<div class="sidebar">
  <% tags.each do |tag| %>
    <% unless tag.posts.count == 0 %>
      <%= link_to tag.name, posts_path(tag_id: tag.id), class: "bg-light text-dark mx-1" %>
    <% end %>
  <% end %>
</div>