<div class="d-flex flex-wrap m-3">
  <% posts.each do |post| %>
  <div class="m-3 top_post">
    <%= link_to post_path(post) do %>
      <%= image_tag post.get_after_image(130,100) %>
      <div class="text-dark"><%= truncate(post.title, length: 12) %></div>
    <% end %>
  </div>
  <% end %>
</div>