<div class="d-flex flex-wrap m-3">
  <% posts.each do |post| %>
  <div class="m-3">
    <%= link_to post_path(post) do %>
      <%= image_tag post.get_after_image(150,150) %>
      <div><%= post.title %></div>
    <% end %>
  </div>
  <% end %>
</div>