<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 bg-white py-3 rounded">
      <h2>会員一覧</h2>
      <%= render 'admin/members/index', members: @members %>
      <%= paginate @members %>
    </div>
  </div>
</div>