<div class="container">
  <div class="row">
    <div class="col-md-9 bg-white mb-3 rounded py-3">
      <div class="d-flex">
        <h2><%= @member.name %>さんの記事一覧</h2>
      </div>
      <div>
        <%= render 'public/posts/index', posts: @posts %>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
    <div class="col-md-3">
      <%= render 'public/posts/tag', favorited_tags: @favorited_tags %>
    </div>
  </div>
</div>