<div class="container">
  <div class="row">
    <div class="col-8 bg-white mb-3 rounded py-3">
      <div class="d-flex">
        <h2><%= @member.name %>さんの記事一覧</h2>
      </div>
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
    <div class="col-4">
      <div class="sidebar" style="background-color: orange;">
        <h2>タグサイドバー</h2>
      </div>
    </div>
  </div>
</div>