<div class="container">
  <div class="row bg-white py-3 rounded">
    <div class="col">
      <h2><%= @member.name %>さんのコメント一覧</h2>
      <%= render 'admin/post_comments/index', comments: @comments %>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @comments, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>