<div class="container">
  <div class="row justify-content-center bg-white rounded">
    <div class="text-center">
      <h1>About</h1>
      <p>このサイトは、家の掃除方法を投稿・共有するサイトです。</p>
      <p>家を掃除して、綺麗な家で生活しましょう。</p>
    </div>
  </div>
</div>