<div class="container">
  <span><%= flash[:notice] %></span>
  <div class="row">
    <div class="col-xl-8 col-lg-9">
      <div class="mb-2">
        <div class="top_favorite_posts p-2 rounded">
          <h2>おすすめ記事</h2>
          <%= render 'public/posts/top', posts: @favorited_posts %>
        </div>
      </div>
      <div class="mb-2">
        <div class="top_new_posts p-2 rounded">
          <h2>新着記事</h2>
          <%= render 'public/posts/top', posts: @posts %>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3">
      <%= render 'public/posts/tag', tags: @tags, favorited_tags: @favorited_tags %>
    </div>
  </div>
</div>