<div class="container">
  <div class="row">
    <div class="col-9">
      <div>
        <h2>おすすめ記事</h2>
        <%= render 'public/posts/top', posts: @favorited_posts %>
      </div>
      <div>
        <h2>新着記事</h2>
        <%= render 'public/posts/top', posts: @posts %>
      </div>
    </div>
    <div class="col-3">
      <h2>タグ一覧</h2>
      <%= render 'public/posts/tag', tags: @tags %>
    </div>
  </div>
</div>