<div class="container">
  <div class="row my-5">
    <div class="col-8">
      <div>
        <h2>おすすめ記事</h2>
        <%= render 'public/posts/top', posts: @posts %>
      </div>
      <div>
        <h2>新着記事</h2>
        <%= render 'public/posts/top', posts: @posts %>
      </div>
    </div>
    <div class="col-4">
      <h2>タグ一覧</h2>
      <%= render 'public/posts/sidebar', tags: @tags %>
    </div>
  </div>
</div>