<div class="bg-white p-3 rounded">
  <div>
    <div class="m-3">
      <p><%= link_to "プロフィール編集へ", edit_information_members_path, class: "text-dark" %></p>
      <p><%= link_to "ログイン情報編集へ", login_edit_members_path, class: "text-dark" %></p>
    </div>
  </div>
</div>