<div class="row mb-3 bg-white">
  <div class="col text-center border py-2">
    <%= link_to "公開記事", member_path(member), class: "text-dark" %>
  </div>
  <% if @member == current_member %>
    <div class="col text-center border py-2">
      <%= link_to "非公開記事", unpublish_members_path, class: "text-dark" %>
    </div>
  <% end %>
  <div class="col text-center border py-2">
    <%= link_to "お気に入り記事", favorite_member_path(member), class: "text-dark" %>
  </div>
</div>