<div class="container">
  <div class="row">
    <div class="col-lg-3 mb-3">
      <%= render 'public/members/edit_sidebar', member: @member %>
    </div>
    <div class="col-lg-6">
      <div class="bg-white p-3 rounded">
        <h5 class="mb-3"><strong>ログイン情報編集</strong></h5>
        <table class="table table-borderless">
          <tr>
            <td>メールアドレス</td>
          </tr>
          <tr>
            <td><%= @member.email %></td>
            <td><%= link_to "変更", email_edit_members_path %></td>
          </tr>
          <tr>
            <td>パスワード</td>
          </tr>
          <tr>
            <td>＊＊＊＊＊＊＊＊</td>
            <td><%= link_to "変更", edit_member_registration_path %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>