<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/members/sidebar', member: @member %>
    </div>
    <div class="col-9">
        <%= render 'public/members/transition', member: @member %>
      <div class="bg-white p-3 rounded">
        <div class="d-flex">
          <h2>非公開記事</h2>
          <% if @member == current_member %>
            <div class="ml-5">
              <%= link_to "新規投稿", new_post_path, class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
        <div>
          <%= render "public/posts/index", posts: @unpublish_posts %>
        </div>
      </div>
    </div>
  </div>
</div>