<div class="container">
  <div class="row">
    <div class="col-md-8 bg-white mb-3 rounded py-3">
      <div class="d-flex">
    		<% if params[:tag_id] %>
    			<h2><%= @tag.name %>のタグ　記事一覧</h2>
    		<% else %>
    			<h2>記事一覧</h2>
    		<% end %>
      </div>
      <%= render "admin/posts/index", posts: @posts %>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'admin/posts/tag', tags: @tags, favorited_tags: @favorited_tags %>
    </div>
  </div>
</div>