<% post_comments.each do |post_comment| %>
  <table class="mb-3">
    <tbody>
      <tr>
        <td>
          ユーザー名：<%= post_comment.member.name %>
          <% if post_comment.member == current_member %>
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-sm btn-danger ml-3", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= post_comment.comment %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<div class="d-flex justify-content-center mt-4">
  <%= paginate post_comments, theme: 'bootstrap-5' %>
</div>