@use '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
  background-color: #EEEEEE;
}

header {
  background-color: white;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ccc;
}

.top_post {
  width: 180px;
  height: 160px;
}

.index_post_image {
  width: 150px;
  height: 130px;
}

@media (max-width: 992px) {
  .top_header_bottom {
    width: 100%;
  }
}

@media (max-width: 576px) {
}