@use '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header {
  background-color: white;
}

.header-inner {
  font-family: serif;
}

.header-logo {
  display: inline-block;
}

.openbtn {
  display: none;
  position: fixed; /* 設置する位置を固定します */
  top: 10px; /* 上から10pxの位置 */
  right: 10px; /* 右から10pxの位置 */
  z-index: 9999; /* 一番手前に表示 */
  cursor: pointer; /* カーソルが上に来たらポインターに変身 */
  width: 50px; /* 横幅５０px */
  height: 50px; /* 縦幅５０px */
}

.openbtn span {
  display: inline-block;
  transition: all 0.4s; /* 変化速度 */
  position: absolute; /* 四角い箱に対して線の位置を調整するためのおまじない */
  left: 14px; /* 四角の箱の左から１４pxの位置 */
  width: 45%; /* 線の幅 */
  height: 3px; /* 線の太さ */
  border-radius: 2px; /* 線の角を少し丸く */
  background-color: #666; /* 線の色 */
}

.openbtn span:nth-of-type(1) {
  top: 15px; /* １本目の線の四角い箱の上からの位置 */
}

.openbtn span:nth-of-type(2) {
  top: 23px; /* ２本目の線の四角い箱の上からの位置 */
}

.openbtn span:nth-of-type(3) {
  top: 31px; /* ３本目の線の四角い箱の上からの位置 */
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg); /* １本目の線の角度と上からの位置の変更 */
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0; /* ２本目の線を見えなくする */
}
.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg); /* １本目の線の角度と上からの位置の変更 */
  width: 30%;
}

.header-sub {
  position: absolute;
  top: 10px;
  right: 20px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ccc;
}

.top_favorite_posts,.top_new_posts {
  background-color: #fdf8f0;
}

.top_post {
  width: 180px;
  height: 160px;
}

.index_post_image {
  width: 150px;
  height: 130px;
  text-align: center;
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .calendar-heading nav {
    display: inline-block;
  }

  .day {
    height: 80px;
  }

  .today {
    background: #FFFFC0
  }

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
}

@media (max-width: 992px) {
  .top_header_bottom {
    width: 100%;
  }
}

@media (max-width: 576px) {
}